.square-box{
    position: relative;
    overflow: hidden;  
    display: inline-block;
    float: left;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    text-align: center;
}
.square-inner{
  overflow: hidden;
  position: absolute;
  top: 2%;
  height: 96%;
  left: 2%;
  width: 96%;
  outline: 2px solid black;
  cursor: pointer;
}
.square-hidden{
  position: absolute;
  top: 0%;
  height: 100%;
  left: 0%;
  width: 100%;
  transition: background-color 0.5s ease;
  background-color: #ffffff00;
}
.square-inner:hover .square-hidden{
  background-color: #ffffff60;
}
.img-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: left;
  margin: 0 0;
  padding: 10px;
}
.img-overlay-hidden{
  transition: background-color 0.5s ease;
  color: #00000000;
}
.square-inner:hover .img-overlay-hidden{
  color: #000000;
}